@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Poppins:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-slate-200 font-sans;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-dark;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary/50 rounded-full hover:bg-primary;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-purple-500;
}
